#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

img {
  width: 398px;
  height: 215px;
  object-fit: cover;
  border-radius: 15px;
}

.sub-container {
  margin-top: 20px;
  width: 400px;
  background-color: rgb(247, 245, 242);
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

span {
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}
